<a href="https://colab.research.google.com/github/thesunilm/Basics_Training/blob/master/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Determine if a given number is even or odd
a = 7
b = 12
c = 37

print(a%2)

1

In [ ]:
#Calculate the area of a circle given its radius (r = 30)

pi = 3.14
r = 30

area = pi * r**2

print (area)

2826.0

In [ ]:
# Write a program two numbers and returns their sum (12, 24)
a = 12
b = 24

print(a+b)

36

In [ ]:
# Calculate the BMI given weight and height

weight = 75
height = 1.72


bmi = weight / (height**2)
print(bmi)

25.351541373715524

In [ ]:
# Convert temperature from Celcius to Fahreinheit

temp_degree = 37

temp_f = temp_degree * (9/5) + 35

print(temp_f)

101.60000000000001

In [ ]:
# write a code to get the output of 10 using "+" and '*'

a = 5
b = -4

c = (a+b) * 10
print(c)

10

In [ ]:
print((10+20+30)/3)

20.0

In [ ]:
print(2**1**3**2)

2

In [ ]:
#WEEK 2

# Write a program to calcuate the sum, difference, product and quotient of two numbers
num1 = 10
num2 = 5

print("Sum", num1 + num2)
print("Difference", num1 - num2)
print("Product", num1 * num2)
print("Quotient", num1 / num2)

Sum 15
Difference 5
Product 50
Quotient 2.0

In [ ]:
# Use build in function to manipulate a given string: Converting to uppercase, finding the length and replacing characters

my_string = "ACS International Ltd, Pune"

print("Upper case:", my_string.upper())
print("Length:", len(my_string))
print("Replace:", my_string.replace("Pune", "Columbus"))

Upper case: ACS INTERNATIONAL LTD, PUNE
Length: 27
Replace: ACS International Ltd, Columbus

In [ ]:
# Write a python program to find the maximum, minimum and sum of list of numbers

my_list = [10, 20, 30, 40, 50]

print("Maximum:", max(my_list))
print("Minimum:", min(my_list))
print("Sum:", sum(my_list))

Maximum: 50
Minimum: 10
Sum: 150

In [ ]:
# Write a program to convert data types ugsing build-in functions

my_string = "123"
int_data = int(my_string)
float_data = float(my_string)
print("Data type as integer", type(int_data))
print(int_data)
print("Data type as float", type(my_string))
print(float_data)

Data type as integer <class 'int'>
123
Data type as float <class 'str'>
123.0

In [ ]:
# Swaping a value
# a - assign the value 20 to a variable a and the value 30 to a variable b.

a = 20
b = 30

print("Before Value of a:", a)
print("Before Value of b:", b)
b = a
a = 30
print("After swapping value of a:", a)
print("After swapping value of b:", b)

Before Value of a: 20
Before Value of b: 30
After swapping value of a: 30
After swapping value of b: 20

In [ ]:
# Update the value of given variables using different arithmetic operations
x = 15

#add 10 to x

x = x + 10
print("Value of x by adding 10: ", x)

# Substract 5 from updated value

x = x- 5
print("After substracting 5, value of x", x)

# Multiply updated value by 3
x = x * 3
print("Value updated post multiplication by 3", x)

# Divide updated value by 2
x = x / 2
print("Value updated post division by 2", x)

Value of x by adding 10:  25
After substracting 5, value of x 20
Value updated post multiplication by 3 60
Value updated post division by 2 30.0

In [9]:
# Calculate average age of patients using "for loop";
age = [25,34,45, 29, 60, 50]
sum = 0
for i in age:
  sum = sum + i
print("Average age ofnumbers: ", sum/len(age))

average age:  40.5

In [15]:
#Write a pythong program that uses a for loop to calculate the sum of the cubes of all the numbers from 1 to 10.
#Print the result

cube = 0
for i in range(1,11):
  cube = cube + (i*i*i)

print("Sum of cubes of all numbers from 1 to 10: ", cube)

Sum of cubes of all numbers from 1 to 10:  3025

In [24]:
sum = 0
for i in [25,34,45, 29, 60, 50]:
  sum = sum + i
print("Average age ofnumbers: ", sum/len(age))

Average age ofnumbers:  40.5